/* Formatting */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: "Sofia Sans", Arial, Helvetica, sans-serif;
  color: #fff;
}

html {
  font-size: 16px;
}

/* Responsiveness (Presentation container styles ".section-content" )*/

/* Desktops/Extra Large screens  */
@media (1200px <= width) {
  .section-content > h1 {
    font-size: 2.75rem;
  }
  .section-content > p {
    font-size: 1.15rem;
  }
}

/* Large tablets/laptops */
@media (992px <= width <= 1199px) {
  .section-content > h1 {
    font-size: 2.47rem;
  }
  .section-content > p {
    font-size: 1.1rem;
  }
}

/* Small tablets */
@media (768px <= width <= 991px) {
  .section-content > h1 {
    font-size: 2.22rem;
  }
  .section-content > p {
    font-size: 1.05rem;
  }
}

/* Extra small devices */
@media (481px <= width <= 767px) {
  .section-content > h1 {
    font-size: 2rem;
  }
  .section-content > p {
    font-size: 1rem;
  }
}

/* Mobile */
@media (281px <= width <= 480px) {
  .section-content > h1 {
    font-size: 1.8rem;
  }
  .section-content > p {
    font-size: 0.95rem;
  }
}

/* Extra small Mobile */
@media (0px <= width <= 280px) {
  html {
    font-size: 14px;
  }
  .section-content > h1 {
    font-size: 1.6rem;
  }
  .section-content > p {
    font-size: 0.9rem;
  }
}
